.App{
  text-align: center;
}
nav{
  display: flex;
  justify-content: space-between;
  padding: 12px;
}
.main-container{
  margin: 27px;
}
.nav-btn-group{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.stud-collection{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
}
.stud-card{
  width: 200px;
  height: 250px;
  background-color: grey;
  border-radius: 15px;
}
.nav-btn{
  padding: 7px;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.nav-btn>button{
  padding: 7px;
  width: 55px;
  border-radius: 15px;
  border: none;
}
.nav-btn>button:hover{
  background-color: black;
  color: white;
}
input{
  padding: 7px;
  width: 80%;
  margin: 5px;
}
.form-group{
  padding: 7px;
}